html,body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    /* color: #333333; */
    font-weight: lighter;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
html,body,#app,.el-container{
    height: 100%;
    width: 100%;
}
.padding-0{
    padding: 0;
}
.margin-0{
    padding: 0;
}
.bgColor{
    background-color: #f2f5f8;
}
.font-12{
    font-size: 12px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
    font-weight: bold;
}
.font-24{
    font-size: 24px;
    font-weight: bold;
}
.font-30{
    font-size: 30px;
    font-weight: bold;
}
.font-60{
    font-size: 60px;
    font-weight: bold;
}
.font-bold{
    font-weight: bold;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.ad-white{
    color: #fff;
}
.ad-lightgray{
    color: #BDC2D8;
}
.ad-black{
    color: #333333;
}
.ad-gray{
    color:#747888;
}
.ad-red{
    color: #FF0000;
}
.ad-yellow{
    color: #FBB02F;
}
.ad-green{
    color: #67DCD8;
}
.ad-blue{
    color: #34A2EC;
}
.mg-left-5{
    margin-left: 5px;
}
.mg-left-20{
    margin-left: 20px;
}
.mg-right-5{
    margin-right: 5px;
}
.mg-right-10{
    margin-right: 10px;
}
.mg-right-20{
    margin-right: 20px;
}
.mg-right-50{
    margin-right: 50px;
}
.mg-bot-10{
    margin-bottom: 10px;
}
.mg-bot-20{
    margin-bottom: 20px;
}
.mg-bot-50{
    margin-bottom: 50px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-50{
    margin-top: 50px;
}
.bg-fff{
    background-color: #fff;
}
.height100{
    height: 100%;
}
.bg-nav{
    background-color: #057F88;
}
.el-menu{
    background-color: inherit;
}
.hiynn{
    color: #fff;
    font-size: 30px;
    /* background-image: url(../assets/hiynn.svg); */
    height: 3.8rem;
    background-repeat: no-repeat;
    border-bottom: 1px solid #fff;
    width: 75%;
    margin: 4.5rem auto;
    padding-bottom: 7.5rem;
    background-size: contain;
}
.el-menu-item.is-active {
    color: #fff;
    background-color: rgba(80, 230, 225, 0.2);
}
.el-menu-item{
    color: rgba(255, 255, 255, 0.6);
}
.el-menu{
    border: none;
}
.el-menu-item:focus, .el-menu-item:hover {
    background-color: rgba(80, 230, 225, 0.2);
}
.ad-icon{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.bg-nav .nav-icon{
    margin-right: 5px;
    width: 46px;
    height: 46px;
    display: inline-block;
    position: relative;
    border: 1px solid #3799A0;
    border-radius: 50%;
    background-color: #3799A0;
}
.is-active .nav-icon{
    border: 1px solid #5BB491;
    background-color: #5BB491;
}
.nav-icon::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.weed::before{
    background-image: url(../assets/weed.svg);
}
.is-active .weed::before{
    background-image: url(../assets/weeding.svg)
}
.info::before{
    background-image: url(../assets/info.svg);
}
.is-active .info::before{
    background-image: url(../assets/infoing.svg)
}
.weather::before{
    background-image: url(../assets/weather.svg);
}
.is-active .weather::before{
    background-image: url(../assets/weathering.svg)
}
.predict::before{
    background-image: url(../assets/predict.svg);
}
.is-active .predict::before{
    background-image: url(../assets/predicting.svg)
}
.el-menu-item, .el-submenu__title {
    height: 70px;
    line-height: 70px;
    padding-left: 40px !important;
}
.el-header{
    z-index: 1;
    padding: 15px 50px;
}
.el-aside,.el-main{
    z-index: 1;
}
.adHeader .el-input__prefix, .el-input__suffix{
    color: #fff;
}
.bg{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/bg.svg)
}
.bg:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(2px);
    z-index:0;
}
.ad-flex{
    display: flex;
}
.ad-end{
    justify-content: end;
}
.ad-flexBtw{
    justify-content: space-between;
}
.ad-flexCenter{
    align-items: center
}
.ad-flexEnd{
    justify-content: flex-end;
}
.ad-justifyCenter{
    justify-content: center
}
.ad-flexCol{
    flex-direction: column;
}
.el-input__inner {
    border-radius: 25px;
}
.subhead i{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    margin:0 15px;
    cursor: pointer;
}
.adHeader .el-input__inner{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
.msg{
    background-image: url(../assets/msg.svg)
}
.wechat{
    background-image: url(../assets/wechat.svg)
}
.config{
    background-image: url(../assets/config.svg)
}
.headIcon{
    background-image: url(../assets/headIcon.svg)
}
.clear .msg{
    background-image: url(../assets/msging.svg)
}
.clear .config{
    background-image: url(../assets/configing.svg)
}
.clear .wechat{
    background-image: url(../assets/wechating.svg)
}
.analysis{
    width: 18px;
    height: 18px;
    background-image: url(../assets/analysis.svg)
}
.ad-right .clear{
    background-color:#fff; 
}
.clear .ad-white{
    color: #797979;
}
.sub-ad{
    padding:20px 50px;
    border-radius: 6px;
}
.sub-ad .el-header{
    padding:20px 30px;
}
.sub-ad .el-main{
    padding:0 30px;
}
.crop-sum{
    background-color: #FBF7F2;
    border-radius: 6px;
    text-align: center;
    color: #707070;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-button--primary {
    color: #FFF;
    background-color: #67DCD8;
    border-color: #67DCD8;
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #3799a0;
    border-color: #3799a0;
    color: #FFF;
}
.el-button--primary.is-active, .el-button--primary:active {
    background: #3799a0;
    border-color: #3799a0;
    color: #FFF;
}

.greenhouse{
    background-image: url(../assets/greenhouse.svg)
}
.emphasis{
    background-image: url(../assets/emphasis.svg)
}
.greenhousePic{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-image: url(../assets/exampleGh.svg)
}
.star{
    width: 15px;
    height: 15px;
    background-image: url(../assets/star.svg)
}
.el-table .ad-icon{
    width: 60px;
    height: 60px;
}
.el-table .el-button{
    cursor: pointer;
}
.el-table th, .el-table tr{
    background: none;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: none;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #fff;
}
.el-table--enable-row-hover .el-table__body tr:hover{
    box-shadow:0px 3px 8px rgba(0, 0, 0, 0.16);
}
.el-table__body-wrapper{
    padding: 8px;
}
.el-table__header-wrapper{
    padding: 0 8px;
}
.el-table__body, .el-table__footer, .el-table__header{
    width: auto !important;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    border-radius: 50%;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #67DCD8;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #67DCD8;
}
.el-table::before{
    height: 0;
}
.el-pagination{
    text-align: center;
    margin-top: 20px;
}
.score{
    height: 250px;
    flex-direction: column;
    background: -webkit-linear-gradient(to right,#2691FB, #32A7F4); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(to right,#2691FB, #32A7F4); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(to right,#2691FB, #32A7F4); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,#2691FB, #32A7F4); /* 标准的语法 */
}
.score .font-60{
    text-shadow:3px 3px 6px rgba(0, 0, 0, 0.27);
    color: #3EF894;
}
.envParam{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.envParam .el-progress{
    flex: 1;
}
.envParam .text{
    width: 30px;
}
.notice{
    background-color: #FBF7F2;
    border: 1px solid #FF9595;
    padding: 30px;
    border-radius: 6px;
}
.gh-text{
    flex-basis: 80px;
    flex-shrink: 0;
}
.el-date-editor .el-range-separator{
    padding: 0;
}
.paramActive{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.paramLi{
    cursor: pointer;
    text-align:right;
}
.bugs{
    width: 30px;
    height: 30px;
    background-image: url(../assets/bugs.svg)
}
.illness{
    width: 30px;
    height: 30px;
    background-image: url(../assets/illness.svg)
}
.news{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../assets/news.svg);
}
.ad-illness{
    flex-wrap: wrap;
}
.ad-illness li{
    flex-basis: 25%;
    text-align: center;
    padding: 20px;
    color: #747888;
    cursor: pointer;
}
.ad-illness li:hover{
    color: #67DCD8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}
.analyseActive{
    border-bottom: 2px solid #FBB02F;
    padding-bottom: 5px;
}
.predict .ad-main{
    height: 350px;
    overflow: auto;
    border: 1px solid #CCCCCC;
    padding: 20px 0 20px 20px;
}
.supply .ad-main,.forecast .ad-main{
    height: 550px;
}
.predict .sub{
    background-color: #FBF7F2;
    padding: 10px 20px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.predict .sub>div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
.finance,.output,.import{
    background-color: #DFB321;
}
.map,.product,.price{
    background-color: #ADDF21;
}
.market{
    background-color: #21DFB2;
}
.cost{
    background-color: #F15959;
}
.consume,.risk{
    background-color:  #A177DC;
}
.storage{
    background-color: #27E0B4;
}
.predict .forecast{
    background-color: #2FD8FB;
}
.predict .ad-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    text-align: center;
    left: 6px;
}
.finance>i{
    background-image: url(../assets/finance.svg);
}
.map>i{
    background-image: url(../assets/map.svg);
}
.market>i{
    background-image: url(../assets/market.svg);
}
.cost>i{
    background-image: url(../assets/cost.svg);
}
.consume>i{
    background-image: url(../assets/consume.svg);
}
.output>i{
    background-image: url(../assets/output.svg);
}
.product>i{
    background-image: url(../assets/product.svg);
}
.storage>i{
    background-image: url(../assets/storage.svg);
}
.import>i{
    background-image: url(../assets/import.svg);
}
.forecast>i{
    background-image: url(../assets/forecast.svg);
}
.price>i{
    background-image: url(../assets/price.svg);
}
.risk>i{
    background-image: url(../assets/risk.svg);
}
.avg{
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
        margin-right:5px;
    }
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
        background: #E9EEF2;
    }
::-webkit-scrollbar-track {/*滚动条里面轨道*/
        /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
        border-radius: 10px;
        background: #fff;
    }